<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd 
		http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">

	<context:component-scan base-package="com.gochinatv.cdn.api.elasticjob.*"/>

	<!-- elastic-job -->
	<reg:zookeeper id="regCenter" server-lists="localhost:2181"
		namespace="elastic-job-aggregation" base-sleep-time-milliseconds="1000"
		max-sleep-time-milliseconds="3000" max-retries="3"/>

	<job:simple id="distributedMinuteJob"
		class="com.gochinatv.cdn.api.elasticjob.DistributedMinuteSchedule"
		registry-center-ref="regCenter" cron="0 0/1 * * * ?"
		sharding-total-count="5" />

	<job:simple id="distributedHourJob"
		class="com.gochinatv.cdn.api.elasticjob.DistributedHourSchedule"
		registry-center-ref="regCenter" cron="0 0 0/1 * * ?"
		sharding-total-count="5" />

</beans>